*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #1c2c3f;
   
}

h1{
    background-color: #081b31;
    color: antiquewhite;
    height: 5rem;
    line-height: 5rem;
    
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 5rem;
}


.choice{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}


img{
    height: 125px;
    width: 125px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: antiquewhite;
    gap: 2rem;
    margin: 5rem;
}

#user-score, #comp-score{
    font-size: 3rem;
}

#msg{
    background-color: #eff1f3;
    color: rgb(19, 12, 1);
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

